# attempt to ignore executables: ignore everything, then un-ignore things with
# dots
*
!*.*

# output and text files
*.vtk
*.txt
ns/CMakeFiles/*
CMakeFiles/*
*.cmake
*\~
*\#
*xdmf
Makefile
*/*.kdev4
*/*/*kdev4
*/CMakeFiles/*
*/*/CMakeFiles/*
Testing/

# binary files
*.png
*.so
*.o
*.h5
*.a
