# output and text files
*.vtk
*.txt
ns/CMakeFiles/*
CMakeFiles/*
*.cmake
*\~
*\#
*xdmf
Makefile
*/*.kdev4
*/*/*kdev4
*/CMakeFiles/*
*/*/CMakeFiles/*


# binary files
*.png
*.so
*.o
*.h5
*.a

# applications
programs/compare-pod-and-fe-projections/compare
programs/compute-pod/compute-pod
programs/compute-pod-matrices/compute-pod-matrices
programs/ns/ns-rom
programs/plot-y-velocity/plot-y-velocity
programs/pod-projection-error/error
programs/project/project
