*.vtk
*.txt
ns/CMakeFiles/*
CMakeFiles/*
*.cmake
*\~
*\#
*xdmf

Makefile
*.o
*h5
*/*.kdev4
*/*/*kdev4
*/CMakeFiles/*
*/*/CMakeFiles/*

# binary files
programs/ns/rom
programs/project/project
programs/compute-pod/compute-pod
programs/compute-pod-matrices/compute-pod-matrices
*png
